{% extends('base2.html.twig') %}
{% block section %}
    <div id="wrapper">
        <!--  content  -->
        <div class="content">
            <!--  section  -->
            <section class="parallax-section single-par list-single-section" data-scrollax-parent="true" id="sec1">
                <div class="bg par-elem "  data-bg="images/bg/17.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                <div class="overlay"></div>
                <div class="bubble-bg"></div>
                <div class="list-single-header absolute-header fl-wrap">
                    <div class="container">
                        <div class="list-single-header-item">
                            <div class="list-single-header-item-opt fl-wrap">
                                <div class="list-single-header-cat fl-wrap">
                                    <a href="#">Restourant</a>
                                    <span>  Now Opening <i class="fa fa-check"></i></span>
                                </div>
                            </div>
                            <h2>Luxury Restourant <span> - Hosted By </span><a href="author-single.html">Alisa Noory</a> </h2>
                            <span class="section-separator"></span>
                            <div class="listing-rating card-popup-rainingvis" data-starrating2="5">
                                <span>(11 reviews)</span>
                            </div>
                            <div class="list-post-counter single-list-post-counter"><span>4</span><i class="fa fa-heart"></i></div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="fl-wrap list-single-header-column">
                                        <a class="custom-scroll-link" href="#sec5"><i class="fa fa-hand-o-right"></i>Add Review </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--  section end -->
            <!--  section  -->

            <!--  section end -->

            <!--  section  -->
            <!--  section  end-->
        </div>
        <!--  content end  -->
    </div>

{% endblock %}

